
.about-me {
  text-align: center;
}

.naman-centerheader {
  text-align: center;
  background-color: white;
}

.naman-profile-pic {
  border-radius: 50%;
}
.navbar {
  overflow: hidden;
  background-color: #5BC0BE;
  position: fixed;
  top: 0;
  width:100%;
}
.navbar a {
  float: right;
  display: inline;
  color: #f2f2f2;
  text-align: right;
  padding: 3px 3px;
}


.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  height: 100px;
}

.item2 {
  background-color:yellow;
  height: 100px;
}

.item3 {
  background-color:blue;
  height: 100px;
}
